<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/parts :: meta('Ryan Hendrickson\'s Jobs')">
    <title></title>
</head>
<body>
<header th:replace="fragments/parts :: header"></header>

<section class="pt-3 pb-2">
    <div class="container">
        <h2 class="text-center">Employment History</h2>
        <div th:each="job : ${jobs}" class="row lead border-top pt-3 pb-2">
            <div class="col-md mx-auto text-center">
                <a th:href="@{one+'/'+${job.jobID}}"><h3 th:text="${job.name}"></h3></a>
                <p th:text="'Start Date: ' + ${job.startDate}"></p>
                <p th:text="'End Date: ' + ${job.endDate}"></p>
            </div>
            <div class="col-md mx-auto">
                <p th:text="${job.description}"></p>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/parts :: footer"></footer>
</body>
</html>