<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryan Hendrickson's Portfolio</title>
</head>
<body>
<!-- HEADER START -->
<header class="row-cols-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-color-secondary">
        <div class="container">
            <a class="navbar-brand" href="#">Ryan Hendrickson</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#about">About</a>
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                    <a class="nav-link" href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER END -->

<!-- MAIN START -->
<main>
    <!-- AVATAR START -->
    <section class="text-light bg-color-primary pt-5 pb-2">
        <div class="d-flex align-items-center flex-column">
            <img src="images/avataaars.svg" alt="Avatar of Ryan Hendrickson">
            <h1>Ryan Hendrickson</h1>
        </div>
    </section>
    <!-- AVATAR END -->

    <!-- ABOUT START -->
    <section class="pt-3 pb-2" id="about">
        <div class="container">
            <h2 class="text-center">About</h2>
            <div class="row">
                <div class="col-md mx-auto">
                    <p class="lead">Ryan was born and raised in the Greater Seattle Area. He is currently enrolled in
                        Green River College's Software Development Bachelors program.</p>
                </div>
                <div class="col-md mx-auto">
                    <p class="lead">Ryan is proficient with:</p>
                    <ul>
                        <li>Front-end Development: HTML5, CSS3 (Bootstrap 5), & Javascript (JQuery/Ajax)</li>
                        <li>Back-end Development: PHP, ASP.NET, Java Spring</li>
                        <li>C#, Java, & BASH</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT END -->

    <!-- PORTFOLIO START -->
    <section class="bg-color-primary pt-3 pb-2" id="portfolio">
        <div class="container">
            <h2 class="text-center text-light">Portfolio</h2>
            <!-- ROW ONE -->
            <div class="row d-flex justify-content-evenly">
                <!-- PROJECT 1 -->
<!--                <div class="card mb-3 col-lg-3">-->
<!--                    <a href="" target="_blank">-->
<!--                        <img src="images/previews/.png" class="card-img-top"-->
<!--                             alt="Screenshot of the site">-->
<!--                    </a>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Project 1</h5>-->
<!--                        <p class="card-text">Nice description.</p>-->
<!--                        <p class="card-text"><small class="text-muted">Last updated: Who knows</small></p>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- PROJECT 2 -->
<!--                <div class="card mb-3 col-lg-3">-->
<!--                    <a href="" target="_blank">-->
<!--                        <img src="images/previews/.png" class="card-img-top"-->
<!--                             alt="Screenshot of the site">-->
<!--                    </a>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Project 2</h5>-->
<!--                        <p class="card-text">Nice description.</p>-->
<!--                        <p class="card-text"><small class="text-muted">Last updated: Who knows</small></p>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- KENT OUTREACH -->
                <div class="card mb-3 col-lg-3">
                    <a href="https://dar2.greenriverdev.com/outreach/" target="_blank">
                        <img src="images/previews/kent_outreach.png" class="card-img-top"
                             alt="Screenshot of the Kent Outreach site">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Kent Outreach</h5>
                        <p class="card-text">Worked with group to develop site for client to assist low income families
                            and those experiencing housing troubles.</p>
                        <p class="card-text"><small class="text-muted">Last updated: Fall 2020</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PORTFOLIO END -->

    <!-- CONTACT START -->
    <section class="pt-3 pb-2" id="contact">
        <div class="container">
            <h2 class="text-center">Contact</h2>
            <form action="#" method="post">
                <!-- FIRST/LAST NAME -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <!-- EMAIL/MESSAGE -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6 mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating col-md-6 mb-3">
                        <textarea class="form-control" placeholder="Message" id="message"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <button type="submit" class="btn btn-primary bg-color-secondary">Get in Contact</button>
                </div>
            </form>
        </div>
    </section>
    <!-- CONTACT END -->
</main>
<!-- MAIN END -->

<!-- FOOTER START -->
<footer class="text-center text-white pt-3 bg-color-primary">
    <div class="container">
        <div class="row">
            <!-- LOCATION -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="text-uppercase mb-4">Location</h3>
                <p class="lead mb-0">
                    South King County,
                    <br/>
                    Greater Seattle Area
                </p>
            </div>

            <!-- SOCIAL ICONS START -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="text-uppercase mb-4">Around the Web</h3>
                <!-- TWITTER -->
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/leaderelrond"
                   target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter"
                         width="44"
                         height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#55acee"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"/>
                    </svg>
                </a>

                <!-- GITLAB -->
                <a class="btn btn-outline-light btn-social mx-1" href="https://gitlab.com/rynhndrcksn" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-gitlab" width="44"
                         height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#e2432a"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M21 14l-9 7l-9 -7l3 -11l3 7h6l3 -7z"/>
                    </svg>
                </a>

                <!-- GITHUB -->
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/rynhndrcksn" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="44"
                         height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#FFF"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
                    </svg>
                </a>

                <!-- LINKEDIN -->
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/rynhndrcksn/"
                   target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                         width="44"
                         height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="#4875B4"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="#"/>
                        <rect x="4" y="4" width="16" height="16" rx="2"/>
                        <line x1="8" y1="11" x2="8" y2="16"/>
                        <line x1="8" y1="8" x2="8" y2="8.01"/>
                        <line x1="12" y1="16" x2="12" y2="11"/>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"/>
                    </svg>
                </a>
            </div>
            <!-- SOCIAL ICONS END -->

            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h3 class="text-uppercase mb-4">Views on Privacy</h3>
                <p class="lead mb-0">Ryan believes that privacy, and encryption are human rights that should be
                    protected as
                    such and should be implemented in every product to help preserve these rights.</p>
            </div>
        </div>
    </div>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Ryan Hendrickson 2021</small></div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- BOOTSTRAP SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>
</html>