<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/parts :: meta('Ryan Hendrickson\'s Portfolio')">
    <title></title>
</head>
<body>
<header th:replace="fragments/parts :: header"></header>

<!-- MAIN START -->
<main>
    <!-- AVATAR START -->
    <section class="text-light bg-color-primary pt-5 pb-2">
        <div class="d-flex align-items-center flex-column">
            <img src="/images/avataaars.svg" alt="Avatar of Ryan Hendrickson">
            <h1>Ryan Hendrickson</h1>
        </div>
    </section>
    <!-- AVATAR END -->

    <!-- ABOUT START -->
    <section class="pt-3 pb-2" id="about">
        <div class="container">
            <h2 class="text-center">About</h2>
            <div class="row">
                <div class="col-md mx-auto">
                    <p class="lead">Ryan was born and raised in the Greater Seattle Area. He is currently enrolled in
                        Green River College's Software Development Bachelors program.</p>
                </div>
                <div class="col-md mx-auto lead">
                    <p class="">Ryan is proficient with:</p>
                    <ul>
                        <li>Front-end Development: HTML5, CSS3 (Bootstrap 5), & Javascript (JQuery/Ajax)</li>
                        <li>Back-end Development: PHP, ASP.NET, Java Spring</li>
                        <li>C#, Java, & BASH</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT END -->

    <!-- PORTFOLIO START -->
    <section class="bg-color-primary pt-3 pb-2" id="portfolio">
        <div class="container">
            <h2 class="text-center text-light">Portfolio</h2>
            <!-- ROW ONE -->
            <div class="row d-flex justify-content-evenly">
                <!-- PROJECT 1 -->
                <!--                <div class="card mb-3 col-lg-3">-->
                <!--                    <a href="" target="_blank">-->
                <!--                        <img src="images/previews/.png" class="card-img-top"-->
                <!--                             alt="Screenshot of the site">-->
                <!--                    </a>-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">Project 1</h5>-->
                <!--                        <p class="card-text">Nice description.</p>-->
                <!--                        <p class="card-text"><small class="text-muted">Last updated: Who knows</small></p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!-- PROJECT 2 -->
                <!--                <div class="card mb-3 col-lg-3">-->
                <!--                    <a href="" target="_blank">-->
                <!--                        <img src="images/previews/.png" class="card-img-top"-->
                <!--                             alt="Screenshot of the site">-->
                <!--                    </a>-->
                <!--                    <div class="card-body">-->
                <!--                        <h5 class="card-title">Project 2</h5>-->
                <!--                        <p class="card-text">Nice description.</p>-->
                <!--                        <p class="card-text"><small class="text-muted">Last updated: Who knows</small></p>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!-- KENT OUTREACH -->
                <div class="card mb-3 col-lg-3">
                    <a href="https://dar2.greenriverdev.com/outreach/" target="_blank">
                        <img src="/images/previews/kent_outreach.png" class="card-img-top"
                             alt="Screenshot of the Kent Outreach site">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Kent Outreach</h5>
                        <p class="card-text">Worked with group to develop site for client to assist low income families
                            and those experiencing housing insecurity.</p>
                        <p class="card-text"><small class="text-muted">Last updated: Fall 2020</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PORTFOLIO END -->

    <!-- CONTACT START -->
    <section class="pt-3 pb-2" id="contact">
        <div class="container">
            <h2 class="text-center">Contact</h2>
            <form action="#" method="post">
                <!-- FIRST/LAST NAME -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <!-- EMAIL/MESSAGE -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6 mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating col-md-6 mb-3">
                        <textarea class="form-control" placeholder="Message" id="message"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <div class="col-12 pb-2">
                    <button type="submit" class="btn btn-primary text-color-primary bg-color-secondary">Get in Contact</button>
                </div>
            </form>
        </div>
    </section>
    <!-- CONTACT END -->
</main>
<!-- MAIN END -->

<footer th:replace="fragments/parts :: footer"></footer>

</body>
</html>