<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryan Hendrickson's Portfolio</title>
</head>
<body>
<!-- HEADER START -->
<header class="row-cols-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-color-secondary">
        <div class="container">
            <a class="navbar-brand" href="#">Ryan Hendrickson</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#about">About</a>
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                    <a class="nav-link" href="#contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER END -->

<!-- MAIN START -->
<main>
    <!-- AVATAR START -->
    <section class="text-light bg-color-primary pt-5 pb-2">
        <div class="d-flex align-items-center flex-column">
            <img src="images/avataaars.svg" alt="Avatar of Ryan Hendrickson">
            <h1>Ryan Hendrickson</h1>
        </div>

    </section>
    <!-- AVATAR END -->

    <!-- ABOUT START -->
    <section class="pt-3 pb-2" id="about">
        <div class="container">
            <h2 class="text-center">About Ryan</h2>
            <div class="row">
                <div class="col-md mx-auto">
                    <p class="lead">Ryan was born and raised in the Greater Seattle Area. He is currently enrolled in Green River
                        College's Software Development Bachelors program.</p>
                </div>
                <div class="col-md mx-auto">
                    <p class="lead">Ryan is proficient with:</p>
                    <ul>
                        <li>Front-end Development: (HTML5, CSS3 (Bootstrap), & Javascript (JQuery/Ajax)</li>
                        <li>Back-end Development: PHP, ASP.NET, Java Spring</li>
                        <li>C#, Java, & BASH</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT END -->

    <!-- PORTFOLIO START -->
    <section class="text-light bg-color-primary pt-3 pb-2" id="portfolio">
        <div class="container">
            <h2 class="text-center">Portfolio</h2>
            <!-- TODO: How to display portfolio items. Bootstrap cards? Maybe, but it will go here. -->
        </div>
    </section>
    <!-- PORTFOLIO END -->

    <!-- CONTACT START -->
    <section class="pt-3 pb-2" id="contact">
        <div class="container">
            <h2 class="text-center">Contact</h2>
            <form action="#" method="post">
                <!-- FIRST/LAST NAME -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="form-floating col-md-6">
                        <input type="text" class="form-control" id="lname" placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <!-- EMAIL/MESSAGE -->
                <div class="row g-3 pb-3">
                    <div class="form-floating col-md-6 mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating col-md-6 mb-3">
                        <textarea class="form-control" placeholder="Message" id="message"></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary bg-color-secondary">Get in Contact</button>
                </div>
            </form>
        </div>
    </section>
    <!-- CONTACT END -->
</main>
<!-- MAIN END -->

<!-- FOOTER START -->
<footer class="">

</footer>
<!-- FOOTER END -->

<!-- BOOTSTRAP SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>
</html>